{% extends 'base.html' %}
{% load static %}

{% block title %}Follow{% endblock title%}

{% block followcss %}

<style>
    .sideBg {
        background-color: rgb(4, 50, 102);
    }

    a.side-username-anchor {
        text-decoration: none;
        color: aliceblue;
    }

    ul.side-username {
        margin: 4px 0px;
    }

    ul.side-username:hover {
        background-color: rgb(55, 134, 224);
    }

    ul.side-username {
        list-style-type: none;
    }

    li {
        cursor: pointer;
    }
</style>

{% endblock followcss %}

{% block content %}
<div class="myContent row justify-content-center">

    <div class="col-lg-2 col-md-10 col-10 col-sm-10 sideBg text-light">
        {% for follow in myFollow %}
        {% for usr in follow.usr %}
        <ul class="m-2 side-username">
            <li class="user">
                <a class="side-username-anchor" href="#" data-id="{{usr.username}}">{{usr.username|capfirst}}</a>
            </li>
        </ul>
        {% endfor %}
        {% endfor %}
    </div>

    <div class="col-lg-8 col-md-10 col-10 col-sm-10 mybrdr" data-id="myfollowpost">
        {% for post in posts %}
        <div class="card mx-auto my-2 p-2"
            style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
            <div class="card-text">
                <h3>{{post.post.title|capfirst}}</h3>
                <small class="text-muted">{{post.post.dateOfPost|date:"F d, Y - h:i:s A"}}</small>
            </div>
            <div class="card pl-2 py-2 my-2" style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);">
                {{post.post.post}}
            </div>
            <div class="row justify-content-end icons">
                <div class="col-1">
                    <i data-postid="{{post.post.id}}" data-likestate="{{post.likeState}}" data-id="like" class="fa fa-thumbs-o-up fa-2"
                        aria-hidden="true"> {{post.post.like.count|default:"0"}}</i>
                </div>
                <div class="col-1">
                    <i data-postid="{{post.post.id}}" data-dislikestate="{{post.dislikeState}}" data-id="dislike" class="fa fa-thumbs-o-down fa-2" aria-hidden="true">
                        {{post.post.dislike.count|default:"0"}}</i>
                </div>
                <div class="col-1">
                    <i data-postid="{{post.post.id}}" data-reportstate="{{post.reportState}}" data-id="report" class="fa fa-bug fa-2" aria-hidden="true">
                        {{post.post.report.count|default:"0"}}</i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}

{% block followpagejquery %}
<script src="{% static 'js/followingUserPost.js' %}"></script>
{% endblock followpagejquery %}