{% extends 'base.html' %}

{% block title %}Global Post{% endblock title %}

{% block content %}
{% for post in posts %}
<div class="card col-10 mx-auto my-2"
    style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
    <div class="card-text">

        <h3>{{post.post.title|capfirst}}</h3>
        <small><label class="text-muted">{{post.post.dateOfPost|date:"F d, Y - H : i A"}}</label> by
            <label class="text-danger">{{post.post.author|capfirst}}</label></small> . <small
            class="myAuthor {{post.color}}" data-id="{{post.post.author_id}}">{{post.indication}}</small>

        <!-- <small class="text-danger">{{post.post.author|capfirst}}</small> -->
    </div>
    <div class="card pl-2 py-2 my-2" style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);">
        {{post.post.post}}
    </div>
</div>
{% endfor %}
{% endblock content %}

{% block jquery %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.myAuthor').click(function (e) {
            e.preventDefault();
            var auth_id = $(this)[0].dataset.id
            var indicator = $(this).text()
            if (indicator == 'follow') {
                ajaxCall(auth_id, indicator)
            } else if (indicator == 'unfollow') {
                ajaxCall(auth_id, indicator)
            }
        })

        function ajaxCall(id, indicator) {
            $.ajax({
                url: '../following/follow',
                type: 'GET',
                data: {
                    'id': id,
                    'indicator': indicator
                },
                success: function (data) {
                    $("[data-id='" + id + "']").removeClass(data.rmc)
                    $("[data-id='" + id + "']").addClass(data.ac)
                    $("[data-id='" + id + "']").text(data.text)
                },
                error: function (error) {
                    alert('error')
                }
            })
        }
    })
</script>
{% endblock jquery %}