{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock title%}</title>
    <style>
        .myContent {
            padding-top: 70px;
        }

        .myAuthor {
            cursor: pointer;
        }

        .brdr {
            border: 1px solid black;
        }

        .icons i:hover {
            color: #d32f2f;
            transition: .4s;
            cursor: pointer;
        }

        .fa-thumbs-up,
        .fa-thumbs-down,
        .myreport {
            color: #d32f2f;
        }
    </style>
    {% block followcss %}
    {% endblock followcss %}

    {% block myPostCss %}
    {% endblock myPostCss %}
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom: 1px solid black;">
            <a class="navbar-brand" href="../timeline">
                <h3>Xpost</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" data-id="myAjaxPost">
                            <h5 class="d-inline">
                                <b>
                                    {{ user.username|capfirst }}
                                </b>
                            </h5>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../timeline">Timeline</a>
                            <a class="dropdown-item" href="../posts">My Post (<span id="post-count"></span>)</a>
                            <a class="dropdown-item" href="../profile">Profile</a>
                            <a class="dropdown-item" href="#" onclick="logout()">logout</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-id="myAjaxFollow">
                            Post
                        </a>
                        <div class="dropdown-menu">
                            <a href="../global" class="dropdown-item">Global</a>
                            <a href="../following" class="dropdown-item">Following (<span id="follow-count"></span>)</a>
                            <a href="../stat" class="dropdown-item">Statistics</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="../newpost" class="nav-link">
                            New Post
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- logout -->
    <script src="{% static 'js/logout.js' %}"></script>
    <!-- follow count -->
    <script src="{% static 'js/followCount.js' %}"></script>
    <!-- post count -->
    <script src="{% static 'js/postCount.js' %}"></script>
    <!-- onload like button customize -->
    <script src="{% static 'js/onloadldr.js' %}"></script>
    <!-- like-work -->
    <script src="{% static 'js/postlike.js' %}"></script>
    <!-- dislike-work -->
    <script src="{% static 'js/postdislike.js' %}"></script>
    {% block followpagejquery %}
    {% endblock followpagejquery %}
    {% block delAjax %}
    {% endblock delAjax %}
    {% block fujquery %}
    {% endblock fujquery %}
</body>

</html>