{% extends 'base.html' %}

{% block title %}My Posts{% endblock title %}

{% block myPostCss %}

<style>
    .floatBut {
        float: right;
    }

    .myTitle {
        display: inline-block;
    }

    .myDate {
        display: block;
    }
</style>

{% endblock myPostCss %}

{% block content %}
<div class="container myContent" data-id="myfollowpost">
    {% for post in posts %}
    <div class="card col-10 mx-auto my-2"
        style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
        <div class="card-text">
            <h3 class="myTitle">{{post.title|capfirst}}</h3>
            <div class="floatBut">
                <button class="btn btn-danger mt-2 btn-sm" data-class="edit" data-postId="{{post.id}}"
                    style="min-width: 70px;">Edit</button>
                <button class="btn btn-danger mt-2 btn-sm" data-class="delete" data-postId="{{post.id}}"
                    style="min-width: 70px;">Delete</button>
            </div>
            <small class="myDate"><label class="text-muted">{{post.dateOfPost|date:"F d, Y - h:i:s A"}}</label></small>
        </div>
        <div class="card pl-2 py-2 my-2" style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);">
            {{post.post}}
        </div>

        <div class="row justify-content-end">
            <div class="col-1">
                <i class="fa fa-thumbs-o-up fa-2" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-thumbs-o-down fa-2" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-bug fa-2" aria-hidden="true"></i>
            </div>
        </div>

    </div>
    {% empty %}
    <div class="card col-10 mx-auto my-2"
        style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
        <div class="card-text text-center">
            Nothing to show
        </div>
    </div>
    {% endfor %}
</div>
<div id="test"></div>
{% endblock content %}

{% block delAjax %}

<script type="text/javascript">
    $(document).ready(function () {

        $('[data-class=delete]').click(function (e) {
            e.preventDefault();
            var response = confirm('Are you want to delete?')
            if (response == true) {
                location.href = '/deletePost/' + $(this)[0].dataset.postid
                // console.log($(this)[0].dataset)
            }
        })
        $('[data-class=edit]').click(function (e) {
            e.preventDefault();
            var response = confirm('Are you want to edit?')
            if (response) {
                location.href = '/updatepost/' + $(this)[0].dataset.postid
            }
        })
    })
</script>

{% endblock delAjax %}