{% extends 'base.html' %}
{% load static %}

{% block title %}My Posts{% endblock title %}

{% block myPostCss %}

<style>
    .floatBut {
        float: right;
    }

    .myTitle {
        display: inline-block;
    }

    .myDate {
        display: block;
    }

    i:hover {
        cursor: pointer;
    }
</style>

{% endblock myPostCss %}

{% block content %}
<div class="container myContent" data-id="myfollowpost">
    {% for post in posts %}
    {% if post.post.post_status %}
    <div data-postCointainerId="cont-{{post.post.id}}" class="card col-10 mx-auto my-2"
        style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
        <div class="card-text">
            <h3 class="myTitle">{{post.post.title|capfirst}}</h3>
            <div class="floatBut">
                <button class="btn btn-danger mt-2 btn-sm" data-class="edit" data-postId="{{post.post.id}}"
                    style="min-width: 70px;">Edit</button>
                <button class="btn btn-danger mt-2 btn-sm" data-class="delete" data-postId="{{post.post.id}}"
                    style="min-width: 70px;">Delete</button>
            </div>
            <small class="myDate"><label
                    class="text-muted">{{post.post.dateOfPost|date:"F d, Y - h:i:s A"}}</label></small>
        </div>
        <div class="card pl-2 py-2 my-2" style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);">
            {{post.post.post}}
        </div>

        <div class="row justify-content-end">
            <div class="col-1">
                <i data-likestate="{{post.likeState}}" data-postid="{{post.post.id}}" data-id="like"
                    class="fa fa-thumbs-o-up fa-2" aria-hidden="true">
                    <span>{{post.post.like.count|default:"0"}}</span></i>
            </div>
            <div class="col-1">
                <i data-postid="{{post.post.id}}" data-id="dislike" data-dislikestate="{{post.dislikeState}}"
                    class="fa fa-thumbs-o-down fa-2" aria-hidden="true">
                    <span>{{post.post.dislike.count|default:"0"}}</span></i>
            </div>
            <div class="col-1">
                <i data-postid="{{post.post.id}}" data-id="report" data-reportstate="{{post.reportState}}"
                    class="fa fa-bug fa-2" aria-hidden="true">
                    <span>{{post.post.report.count|default:"0"}}</span></i>
            </div>
        </div>

    </div>
    {% endif %}
    {% empty %}
    <div class="card col-10 mx-auto my-2"
        style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
        <div class="card-text text-center">
            Nothing to show
        </div>
    </div>
    {% endfor %}
</div>
<div id="test"></div>
{% endblock content %}

{% block delAjax %}
<script src="{% static 'js/postDelete.js' %}"></script>
{% endblock delAjax %}