{% extends 'base.html' %}

{% block title %}timeline{% endblock title %}

{% block content %}
<div class="container myContent">
    {% for post in posts %}
    <div class="card col-10 mx-auto my-2"
        style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);background-color: #0a7a865e;">
        <div class="card-text">
            <h3>{{post.post.title|capfirst}}</h3>
            <small><label class="text-muted">{{post.post.dateOfPost|date:"F d, Y - h:i:s A"}}</label> by
                <label class="text-danger">{{post.post.author|capfirst}}</label></small>
        </div>
        <div class="card pl-2 py-2 my-2" style="box-shadow: 1px 1px 1px rgba(13, 54, 54, 0.507);">
            {{post.post.post}}
        </div>
        <div class="icons row justify-content-end">
            <div class="col-1">
                <i data-likestate="{{post.likeState}}" data-postid="{{post.post.id}}" data-id="like"
                    class="fa fa-thumbs-o-up fa-2" aria-hidden="true">
                    {{post.post.like.count|default:"0"}}</i>
            </div>
            <div class="col-1">
                <i data-dislikestate="{{post.dislikeState}}" data-postid="{{post.post.id}}" data-id="dislike" class="fa fa-thumbs-o-down fa-2" aria-hidden="true">
                    {{post.post.dislike.count|default:"0"}}</i>
            </div>
            <div class="col-1">
                <i data-reportstate="{{post.reportState}}" data-postid="{{post.post.id}}" data-id="report" class="fa fa-bug fa-2" aria-hidden="true">
                    {{post.post.report.count|default:"0"}}</i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}